<header>
    <nav class ="navbar navbar-inverse ">
    <div class = "container-fluid">
    <div class = "tab"><a href="" class="navbar-header" >Quick-Check</a></div>
    <ul class="navbar-nav" id = "tag">
  <div class = "tab"><a  routerLink="/check"  class = "tag">Check</a>
  <a *ngIf="loginService.isUserLoggedIn()" routerLink="/add"  class = "tab">Admin</a>
    <a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" id="tab" class = "tag" >Log In</a>
     <a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class = "tab" >LogOut</a></div>
    </ul>
  </div>
    </nav>    
    </header>
  
